.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container{
  text-align: center;
  margin: 0 auto;
  margin-top:200px;
}
.flex-container{
  height: 200px;
  width: 1000px;
  overflow-x: auto;
  border: 1px solid;
  display: flex;
  justify-content: flex-start;
}

.slide-1, .slide-2, .slide-3, .slide-4, .slide-5 {
  border:1px solid;
  min-width: 200px;
  background-color: #09d3ac;
  color: #fff;
  margin: 4px;
  text-align: center;
  line-height: 200px;
  font-size:20px;
}